@CHARSET "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ここから本編内容
---------------------------------------*/
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgba(250,250,250,1);
	background-image:
	 radial-gradient(closest-side,
		 transparent 99.9%, rgba(233, 230, 95, 0.9) 100%),
	 radial-gradient(closest-side,
		 transparent 99.9%, rgba(233, 230, 95, 0.9) 100%);
	background-position: 0 0, 30px 30px;
	background-size: 60px 60px;
}
.common_layout {
	background-color: #ffffff;
	margin: 0 auto;
	position: relative;
	padding: 30px 0;
}
.login,.logout {width: 600px; height:200px; margin-top: 75px;}
.login_result {
	width: 80%;
	flex: 1 1 100%;
}
h1 {
	font-weight: bold;
	font-size: 2.5rem;
	text-align: center;
	color: rgba(255, 170, 0, 1);
	margin-bottom: 10px;
}
.submit {
	margin-bottom: 40px;
	padding: 5px 10px;
	font-size:1rem;
}
.sub_menu {position: absolute;right: 10px;top: 5px;}
form {text-align: center;}
.center{text-align: center;}
footer{
	width: 100%;
	color: #ffffff;
	text-align: center;
	background-color: rgba(255, 81, 0, 1);
	padding: 5px;
	margin-top: auto;
	}
.material_list {
	display: flex;
	flex-wrap:wrap;
	width:500px;
	margin: 0 auto 30px;
}
.material_list li {
	width:25%;
	text-align: left;
}
.item_detail {
	background-image: url(../img/item_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.item_detail img {
	width: 400px;
	hegith: 400px;
}
.item_name {
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
	padding-top: 20px;
}
.item_desc {
	width:600px;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	background-color: rgba(255,255,255,0.5);
}
.material_select {
	background-color: orange;
	color: #ffffff;
	padding: 5px 0 4px;
	margin-bottom: 10px;
}




/* ユーザー名、パスワード入力フォーム */
.cp_iptxt {
	position: relative;
	width: 50%;
	margin: 20px auto;
}
.cp_iptxt input[type='text'],.cp_iptxt input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.cp_iptxt input[type='text']:focus {outline: none;}
.cp_iptxt input[type='text']:focus::after {outline: none;}
.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: rgba(232, 130, 21, 1);
}



/* ユーザー名、パスワード入力フォーム */
.btn-square-slant {
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 15px;
	display: inline-block;
	position: relative;
	padding: 0.5em 1.4em;
	text-decoration: none;
	background: #FF8000;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 5px #B43104;/*ボタン色より暗めに*/
	border-right: solid 5px #B45F04;/*ボタン色より暗めに*/
}
.btn-square-slant:before {
	content: " ";
	position: absolute;
	bottom: -5px;
	left: -1px;
	width: 0;
	height: 0;
	border-width: 0 6px 6px 0px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #FFF;
}
.btn-square-slant:after {
	content: " ";
	position: absolute;
	top: -1px;
	right: -5px;
	width: 0;
	height: 0;
	border-width: 0px 6px 6px 0px;
	border-style: solid;
	border-color: #FFF;
	border-bottom-color: transparent;
}
.btn-square-slant:active {
	/*ボタンを押したとき*/
	border:none;
	-webkit-transform: translate(6px,6px);
	transform: translate(6px,6px);
}
.btn-square-slant:active:after, .btn-square-slant:active:before {
	content: none;/*ボタンを押すと線が消える*/
}